@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
body{
    background-color: #FFFFFF;
    font-family: "Heebo", sans-serif;
    margin: 0px;
    padding: 0px;
    
}
.container{
    margin-left: 14%;
    margin-right: 7%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu li{
    margin-top: 0%;
    padding-top: 0%;
    display: inline-block;
    margin-left: 1.20rem;
    font-style: 100%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 100%;
    text-align: center;
    color: #000000;
}
#menu{
    text-align: right;
    margin-top: 1rem;
}
a{
    color: #000000;
    text-decoration: none;
}
#introducao{
    grid-auto-columns: 59% 41%;
}
#buttonCta{
    width: 10.1rem;
    height: 1.8rem;
    top: 29.8rem;
    left: 10.2rem;
    opacity: 1;
    border-radius: .1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0rem;
    margin-bottom: 5rem;
    letter-spacing: 0px;
    display: flex;
    justify-content: flex-start;
    
    background: #FF6464;
    font-style: normal;
    
    line-height: 1.5rem;
    color: #FFFF;
    padding: .5rem 1.5rem .5rem 1.5rem;
}
p.gray{
    justify-self: left;
    justify-content: left;
    font-style: normal;
    
    
    
    color: #21243D;
    padding: 0rem 0rem 1.5rem 0rem;
    text-align: justify;
    margin-left: 0rem;
}
#titulo {
    width: 31rem;
    height: 25rem;
    margin: 0rem;
}
.titulo{
    margin-left: 14%;
    text-align: start;
    font-size: 1.7rem;
}
#headerCta{

    margin-left: 0rem;
}

#headerCta h1 { 
    margin-top: 11rem;
    font-weight: 700;
    font-size: 3rem;
    margin-left: 0rem;
    line-height: 3.5rem;
    letter-spacing: 0px;
    text-align: left;
    color: #21243D;
    
    
    font-style: normal;
    font-weight: bold;
    
    
}
#blog{
    font-size: 1.7rem;
    background-color: #BBE1FA40;
    padding: .1rem 0rem 2rem 0rem;
    margin: 0rem;
}
#blog .titulo{
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    
}
.blog{
    padding: 0rem 0rem 1.2rem 0rem;
    margin: 0rem;
    margin-right: 6.3rem;
    width: 29rem;
    
    background-color: #FFFFFF;
    text-align: start;
    opacity: 1;
    top: 41.5rem;
    left: 10.2rem;
    border-radius: .2rem;

}
.datae{
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}
.blog h3 {
    margin-left: 2rem;
    font-size: 1.7rem;
}
.blog p {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
    
}
.ptamanho {
    font-size: 1.1rem; 
    font-weight: 400;
    
}
.img {
    text-align: start;
}
.linha{
    margin-left: 14%;
    margin-top: .7rem;
    margin-bottom: 1.5rem;
    padding: 0rem;
}
#projetos .titulo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#projetos .container{
    grid-auto-columns: 33% 66%;
}
#projetos{
    margin-bottom: 8.8rem;
}
#projetos h2{
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 700;
}
#projetos p {
    text-align: justify;
}
#site {
    text-align: center;
}
.img img{
    width: 15.4rem;
    height: 11.5rem;
    top: 97.5rem;
    left: 10rem;
    border-radius: .4rem;
    padding: 0rem;
    opacity: 1;
    justify-content: start;

}
.rede {
    text-align: center;
    padding: 0rem 1.4rem;
    justify-self: center;
    justify-content: center;
}
#copyright {
    text-align: center;
}
#root {
  max-width: 80rem;
  margin: 0rem;
  padding: 2rem 2rem 2rem 0rem;
  text-align: start;
}

@media only screen and (min-width: 700px) and (max-width: 1250px) {
    .container{
        grid-auto-flow: row;
    }
   #titulo{
    width: 0%;
    height: 0%;
   }
   .titulo{
    text-align: center;
   }
   .blog{
    justify-self: center;
    margin-bottom: 2rem;
   }
   #projetos{
    text-align: center;
   }
   #projetos .container{
    margin-left: 0rem;
    justify-content: center;
   }
   .img img{
    width: 20rem;
   }
   #projetos p{
    width: 20rem;
   }
   .linha{
    width: 28rem;
   }
}

@media only screen  and (max-width: 700px) {
    .container{
        grid-auto-flow: row;
    }
   #titulo{
    width: 0%;
    height: 0%;
   }
   .titulo{
    text-align: center;
   }
   .blog{
    width: 70%;
    justify-self: center;
    margin-bottom: 2rem;
   }
   #projetos{
    text-align: center;
   }
   #projetos .container{
    margin-left: 0rem;
    justify-content: center;
   }
   .linha{
    width: 20rem;
   }
}